.homepage-container {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.homepage-title {
  text-align: center;
  color: var(--primary-color);
}

.search-filter-container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.search-input,
.category-select {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
}

.search-input {
  max-width: 400px;
}

.category-select {
  padding: 7.5px;
}

.books-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: auto;
}

@media (max-width: 600px) {
  .search-filter-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .search-input {
    width: calc(70% - 5px);
    max-width: none;
    margin-right: 0;
  }

  .category-select {
    width: calc(20% - 5px);
    margin-right: 0;
  }
}

@media (max-width: 481px) {
  .search-input {
    width: calc(60% - 5px);
  }

  .category-select {
    width: calc(30% - 5px);
  }
}

@media (max-width: 592px) {
  .homepage-container {
    padding: 0 !important;
  }
}

@media (max-width: 830px) {
  .books-display-container {
    justify-content: center;
  }
}
