.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding: 10px;
  margin: 0; /* Remove margin */
}

@media (max-width: 344px) {
  .main-content {
    padding: 0;
  }
}
